@{
    ViewBag.Title = "Dieting_Do";
}


<div class="row">
    <h2 class="services text-center">We are here for you!!</h2>
    <div class="col-md-4">
        <h3 class="text-center">Animal Health</h3>
        <p>
            We help you with finding the right diet for your peeve. With the help of our evergrowing animal database you can find what is right for your pet. 
        </p>
        <p class="text-center"><a class="btn btn-default text-center" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Animal Welfare</h3>
        <p>Our goal is to make every pet feel loved and safe by treating them the right way. We aspire to help people to become more affectionate towards animals</p>
        <p class="text-center"><a class="btn btn-default text-center" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="rescue" src="" alt="animal-home"/>
        <h3 class="text-center">Animal Safety</h3>
        <p>Improving animal-human relationship is one of the most challenging tasks in today's world. We offer a range of animal rescue centers to adopt and release animals.</p>
        <p class="text-center"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>