@model Dieting_Do.Models.ShelterDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dieting.do -Delete Shelter</title>
</head>
<body>
    <div>
        <p>Are you sure you want to delete @Model.ShelterName from the database</p>
        <div class="row">
            <a class="col-md-2 button btn btn-danger" href="#">Cancel</a>
            <a class="col-md-2 button btn btn-success" href="#">Delete</a>
        </div>
    </div>
</body>
</html>
