
@model IEnumerable<Dieting_Do.Models.Animal>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PetWell- Your Pets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
        <h1 class="text-center">Your Pets </h1>
        <div class="row">
            @foreach (var a in Model)
            {
                <div class="card col-md-4" style="width:15rem;">
                    <img src="" class="card-img-top img-circle" alt="pet image" />
                    <h5>@a.AnimalName</h5>
                    <div class="row">
                        <div class="col-sm-4"><strong>Species : </strong>@a.Standard_Data.SpeciesName</div>
                        <div class="col-sm-4"><strong>Weight : </strong>@a.AnimalWeight</div>
                        <div class="col-sm-4"><strong>Height : </strong>@a.AnimalHeight</div>
                    </div>
                </div>
            }
        </div>
</body>
</html>
